* {
  box-sizing: border-box;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #ccc;
  background-color: rgb(28, 3, 75);
  background: url("../images/tardis6.jpg");
  background-repeat: no-repeat;
  size: 960px;
}

h1, h2, h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #ccc;
}

/*
  The width of the wrapper will be 1024px
  at browser widths above 768px
*/

/* .wrapper {
  width: 1024px;
  margin: 40px auto;
}

.main-content, .sidebar {
  width: 500px;
  padding: 30px;
}

.main-content {
  float: left;
  background: #fff;
}

.sidebar {
  float: right;
  background: #eee;
} */

.container {
  width: 90%;
  margin-right: 10px;

 
 
}

/* .logobox {
  width: auto;
  height: 200px;
  padding-left: 30px;
  padding-right: 30px;
} */

.auth-image {
  float: right;
  width: 20%;
  height: 20%;
  margin-top: 10px;
  opacity: 0.8;

}

#display {
  margin-top: 78px;
  height: 500px;
  width: 220px;
  margin-left: 60px;
}

#buttons {
  padding-top: 60px;
}

#clear {
  margin-left: 20px;
  font-size: 25px;
  color: black;
  border-style: solid;
  width: 100px;
} 

.img-player {
  float: left;
  width:  100px;
  height: auto;
  margin: 10px;

}